<footer id="contact">
  <div class="container">
    <div class="units-row">
      <div class="unit-50">
        <p>Burçin Eren</p>
      </div>
      <div class="unit-50">
        <ul class="social list-flat right">
          <li>
            <a href="https://github.com/burcineren" target="_blank"
              ><img src="/assets/img/icon/github-icon.svg" alt="github"
              /></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/burcin-eren/" target="_blank"
              ><img src="/assets/img/icon/linkedin-icon.svg" alt="linkedin"
              /></a>
          </li>
          <!-- <li>
            <a href="mailto:burcineeren@gmail.com" target="_blank"
              ><i class="fa fa-send "></i
            ></a>
          </li> -->
          <li>
            <a href="https://twitter.com/burcinereen" target="_blank"
              ><img src="/assets/img/icon/twitter-icon.svg" alt="twitter"
              /></a>
          </li>
          <!-- <li>
            <a href="https://www.instagram.com/burcinereen/" target="_blank"
              ><i class="fa fa-instagram"></i
            ></a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
