<div class="work section second" id="techStack">
    <div class="container text-center">
      <h1 class="">My Tech Stack</h1>
      <p>Technologies I’ve been working with recently</p>
      
      <img src="/assets/img/icon/js-icon.svg" class="mr-3"  alt="" />
      <img src="/assets/img/icon/logos_bootstrap.svg" class="mr-3" alt="" />
      <img src="/assets/img/icon/logos_git-icon.svg"  class="mr-3" alt="" />
      <img src="/assets/img/icon/logos_react.svg"  class="mr-3" alt="" />
      <img src="/assets/img/icon/logos_sass.svg"  class="mr-3" alt="" />
      <img src="/assets/img/icon/tailwind-icon.svg"  class="mr-3" alt="" />
      <img src="/assets/img/icon/github-iconn.svg" class="" alt="" />
    </div>
  </div>
  
