
  <div class="section">
    <div class="container">
      <h1 class="text-center">My Projects</h1>
  <p class="text-center">Technologies I’ve been working with recently</p>
    </div>
  </div>
<div class="container" id="projects">
  <div class="cards">
    <article class="card">
        <div class="card__preview">
            <img src="/assets/img/project-img1.png" alt="Lakeview Elegance preview">
        </div>
        <div class="card__content">
            <h3 class="card__title">Movie Web Site</h3>
            <p class="card__address">
                258 Serenity Lane, Crestwood Hills
            </p>
            <p class="card__description">
              This is sample project description random things are here in description This is sample project lorem ipsum generator for dummy content
            </p>
            <p><strong>Tech stack:</strong> HTML , JavaScript, SASS, React</p>
            <div class="card__bottom">
                <div class="card__properties">
                    <a href="#">
                      Live Preview
                    </a>
                </div>
                
                <a href="#">
                  <img src="/assets/img/icon/github-iconn.svg" alt="" width="25">
                  View Code
                </a>
            </div>
        </div>
    </article>
    <article class="card">
        <div class="card__preview">
            <img src="/assets/img/project-img2.png" alt="Project">
        </div>
        <div class="card__content">
          <h3 class="card__title">Car Web Site</h3>
          <p class="card__address">
              258 Serenity Lane, Crestwood Hills
          </p>
          <p class="card__description">
            This is sample project description random things are here in description This is sample project lorem ipsum generator for dummy content
          </p>
          <p><strong>Tech stack:</strong> HTML , JavaScript, SASS, React</p>
          <div class="card__bottom">
              <div class="card__properties">
                  <a href="#">
                    Live Preview
                  </a>
              </div>
              
              <a href="#">
                <img src="/assets/img/icon/github-iconn.svg" alt="" width="25">
                View Code
              </a>
          </div>
      </div>
    </article>
    <article class="card">
        <div class="card__preview">
            <img src="/assets/img/project-img3.png" alt="Project">
        </div>
        <div class="card__content">
          <h3 class="card__title">E-Commerce</h3>
          <p class="card__address">
              258 Serenity Lane, Crestwood Hills
          </p>
          <p class="card__description">
            This is sample project description random things are here in description This is sample project lorem ipsum generator for dummy content
          </p>
          <p><strong>Tech stack:</strong> HTML , JavaScript, SASS, React</p>
          <div class="card__bottom">
              <div class="card__properties">
                  <a href="#">
                    Live Preview
                  </a>
              </div>
              
              <a href="#">
                <img src="/assets/img/icon/github-iconn.svg" alt="" width="25">
                View Code
              </a>
          </div>
      </div>
    </article>
  </div>
</div>