<!-- Navigation -->
<div class="main-nav">
  <div class="container">
    <div class="row" id="home">
      <div class="col-md-12  d-flex flex-wrap justify-content-between">
          <nav id="navbar-1" class="navbar item-nav col-md-9">
            <ul>
              <li class="active"><a href="#home">Home</a></li>
              <li class="active"><a href="#about">About</a></li>
              <li><a href="#techStack">Tech Stack</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
      <div class="col-md-3">
        <div class="icon-area">
          <img src="/assets/img/icon/github-icon.svg" alt="github" />
          <img src="/assets/img/icon/linkedin-icon.svg" alt="linkedin" />
          <img src="/assets/img/icon/twitter-icon.svg" alt="twitter" />
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
