<!-- Introduction -->
<div class="intro section" id="about">
    <div class="container">
      <div class="units-row units-split wrap">
        <div class="unit-80">
          <h1>
            Hi 👋,<br />
            My name is <br />
            Burçin EREN<br />
            <span id="typed"></span>
          </h1>
        </div>
        <div class="unit-20">
          <div class="profile">
            <img src="/assets/img/burcin.png" alt="Avatar" />
          </div>
        </div>
      </div>
      <p>
        An enthusiastic and detail-oriented Frontend Developer with proficient
        knowledge in HTML and CSS, as well as third-party libraries such as
        jQuery, Angular, and React. Seeking to utilize my technical skills and
        expertise to provide value to the employer and contribute to successful
        projects both today and in the future. Aiming to take on new challenges
        and utilize my coding and debugging skills for developing new features and
        enhance the overall user experience.
      </p>
    </div>
  </div>